<div class="wrapper">
  <div class="header">
    <h1>Angular PWA Boiler Plate</h1>
    <h2>with multi-lang support</h2>
  </div>

  <p>Select your preferred language</p>
  <div class="actionButtons">
    <button class="button" (click)="changeLanguage('en')">English</button>
    <button class="button" (click)="changeLanguage('fr')">Français</button>
  </div>

  <div class="message">
    <h2>{{ "greeting" | translate }}</h2>
    <p>{{ "welcome" | translate }}</p>
  </div>
</div>
