@import "styles.scss";

.wrapper {
  @include flexBoxColumn {
    gap: 20px;
    color: "#333";
  }

  .header {
    @include flexBoxColumn {
    }
  }

  .message {
    @include flexBoxColumn {
      font-size: 20px;
    }
  }

  .actionButtons {
    display: flex;
    gap: 30px;

    button {
      cursor: pointer;
      width: 200px;
      padding: $buttonPadding;
      border-radius: $buttonBorderRadius;
      background: #fff;
      border: 1px solid #333;
      transition: 0.3s;

      &:hover {
        background: #aaa;
        color: #fff;
      }
    }
  }
}

.my-element {
  font-size: 16px;

  @include small-screen {
    font-size: 14px;
  }

  @include medium-screen {
    font-size: 18px;
  }

  @include large-screen {
    font-size: 20px;
  }
}
