@mixin flexBoxColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @content;
}

@mixin flexBoxRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  @content;
}
