// Small devices (landscape phones)
@mixin small-screen {
  @media (max-width: 767px) {
    @content;
  }
}

// Medium devices (tablets)
@mixin medium-screen {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

// Large devices (desktops)
@mixin large-screen {
  @media (min-width: 1024px) {
    @content;
  }
}
